<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="eu.openanalytics.architect.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.openanalytics.architect.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.openanalytics.architect.application"
            description="OpenAnalytics R GUI and IDE"
            name="Architect">
         <property
               name="windowImages"
               value="icons/icon_16.png,icons/icon_32.png,icons/icon_48.png,icons/icon_64.png,icons/icon_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,330,610,15">
         </property>
         <property
               name="startupMessageRect"
               value="15,310,400,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Architect">
         </property>
         <property
               name="aboutText"
               value="Architect is an Integrated Development Environment for Data Science developed by Open Analytics NV - http://www.openanalytics.eu - Version: 0.9.9">
         </property>
         <property
               name="aboutImage"
               value="about_architect.png">
         </property>
         <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
          value="platform:/plugin/org.eclipse.platform/images/">
		  </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.openanalytics.architect.ui.ArchitectPerspective"
            icon="icons/icon_16.png"
            id="eu.openanalytics.architect.ui.ArchitectPerspective"
            name="Architect">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.openanalytics.architect.ui.ArchitectPerspective">
         <newWizardShortcut
               id="de.walware.statet.r.newWizards.RProjectCreation">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.walware.statet.r.newWizards.RPkgProjectCreation">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.walware.statet.r.newWizards.RFileCreation">
         </newWizardShortcut>
         <actionSet
               id="de.walware.statet.r.actionSets.RToolbarSet">
         </actionSet>
         <view
               id="de.walware.statet.r.views.RHelp"
               minimized="true"
               relationship="stack"
               relative="de.walware.statet.nico.views.ObjectBrowser"
               visible="true">
         </view>
         <actionSet
               id="de.walware.statet.r.actionSets.RMainMenu">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="The selected resource, or its parent if the resource is a file."
            name="architect_wd"
            resolver="eu.openanalytics.architect.variable.ArchitectResourceResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="A variable that resolves to the dollar sign"
            name="dollar"
            resolver="eu.openanalytics.architect.variable.DollarVariableResolver"
            supportsArgument="false">
      </variable>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.openanalytics.architect.ui.QuickLaunchPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.openanalytics.architect.ui.ArchitectPreferencePage"
            id="eu.openanalytics.architect"
            name="Architect">
      </page>
      <page
            category="eu.openanalytics.architect"
            class="eu.openanalytics.architect.ui.QuickLaunchPreferencePage"
            id="eu.openanalytics.architect.quickLaunch"
            name="Quick Launch">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.openanalytics.architect"
            name="Architect">
      </category>
      <command
            categoryId="eu.openanalytics.architect"
            defaultHandler="eu.openanalytics.architect.ui.QuickLaunchCommandHandler"
            description="Shortcut to execute a specific launch configuration immediately."
            id="eu.openanalytics.architect.quickLaunch"
            name="Quick Launch">
      </command>
      <command
            categoryId="eu.openanalytics.architect"
            defaultHandler="eu.openanalytics.architect.ui.RestartRCommandHandler"
            description="Restart the currently running R session"
            id="eu.openanalytics.architect.restartR"
            name="Restart R">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.openanalytics.architect.quickLaunch"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+RETURN">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView?after=additions">
         <command
               commandId="eu.openanalytics.architect.restartR"
               icon="icons/restart.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
