<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.statet.rj.RSetups">
      <base
            location="R/"
            setupId="eu.openanalytics.r.server">
      </base>
      <setup
            id="eu.openanalytics.r.server"
            name="Embedded R Server"
            version="4.2.2">
      </setup>
   </extension>

</plugin>
