<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.statet.r.launchConfigurations.RCmdTool">
<stringAttribute key="org.eclipse.statet.r.debug/RCmd/arguments.cmd" value="CMD INSTALL"/>
<stringAttribute key="org.eclipse.statet.r.debug/RCmd/arguments.options" value="-l ${workspace_loc}/.metadata/.r/eplugin-local-eu.openanalytics.r.server/user-library"/>
<stringAttribute key="org.eclipse.statet.r.debug/RCmd/arguments.resource" value="${resource_loc}"/>
<stringAttribute key="org.eclipse.statet.r.debug/REnv/REnvSetting" value="default-workbench"/>
<stringAttribute key="org.eclipse.statet.r.debug/REnv/workingDirectory" value="${container_loc}"/>
<stringAttribute key="org.eclipse.statet.r/renv/REnvCode" value="default-workbench"/>
<stringAttribute key="org.eclipse.statet.r/renv/WorkingDirectory" value="${container_loc}"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LC_COLLATE" value="en_US.UTF-8"/>
<mapEntry key="LC_CTYPE" value="en_US.UTF-8"/>
<mapEntry key="LC_MESSAGES" value="en_US.UTF-8"/>
<mapEntry key="LC_MONETARY" value="en_US.UTF-8"/>
<mapEntry key="LC_NUMERIC" value="C"/>
<mapEntry key="LC_TIME" value="en_US.UTF-8"/>
<mapEntry key="PATH" value="${env_var:PATH}:/usr/texbin"/>
<mapEntry key="R_KEEP_PKG_SOURCE" value="yes"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
</launchConfiguration>
