<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.statet.r.launchConfigurations.RweaveTexCreation">
<stringAttribute key="org.eclipse.statet.r.debug/DocPreview/Viewer.code" value="ide"/>
<stringAttribute key="org.eclipse.statet.r.debug/Rweave/SweaveProcessing" value="console:"/>
<stringAttribute key="org.eclipse.statet.r.debug/Rweave/sweave.folder" value="${container_path:${source_file_path}}"/>
<stringAttribute key="org.eclipse.statet.r.debug/Tex/BuildTex.format" value="pdf"/>
<stringAttribute key="org.eclipse.statet.r.debug/Tex/BuildTex.outputDir" value=""/>
<stringAttribute key="org.eclipse.statet.r.debug/Tex/BuildTex.rCommands" value="require(tools)&#10;texi2dvi(file = &quot;${resource_loc:${latex_file_path}}&quot;, pdf = TRUE)"/>
<intAttribute key="org.eclipse.statet.r.debug/Tex/BuildTex.type" value="2"/>
<intAttribute key="org.eclipse.statet.r.debug/Tex/OpenTex.enabled" value="2"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
</launchConfiguration>
