export(.rj.originals, .rj.tmp, .rj.nextId)
export(.rj_ui.loadHistory, .rj_ui.saveHistory, .rj_ui.addtoHistory)
export(.statet.captureStr, .statet.initDebug)
export(statet.help, statet.help.start, .statet.reassignHelp)
S3method(print, "help_files_with_topic")
export(statet.openInEditor, statet.chooseFile, statet.showHistory)
