<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.walware.statet.r.launchConfigurationTypes.RCmdTool">
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.cmd" value="CMD INSTALL"/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.options" value="--build"/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.resource" value="${resource_loc}"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/REnvSetting" value="default-workbench"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/workingDirectory" value="${container_loc}"/>
<stringAttribute key="de.walware.statet.r/renv/REnvCode" value="default-workbench"/>
<stringAttribute key="de.walware.statet.r/renv/WorkingDirectory" value="${container_loc}"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PATH" value="${architect_rtools};${architect_pandoc};${env_var:PATH}"/>
<mapEntry key="R_KEEP_PKG_SOURCE" value="yes"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
</launchConfiguration>
