<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="The folder containing the embedded RTools binaries"
            name="architect_rtools"
            resolver="eu.openanalytics.architect.rtools.ArchitectRToolsResolver"
            supportsArgument="false">
      </variable>
   </extension>

</plugin>
